<div class="tech">
    <div class="container">
        <div class="tech-wrapper">
            <h2 class="tech__title title _anim-items _anim-no-hide">Technologies</h2>
            <div class="tech-slider swiper-container _anim-items _anim-no-hide">
                <div class="swiper-pagination"></div>
                <swiper
                    [config]="config"
                    class="tech-slider__wrapper swiper-wrapper"
                >
                    <ng-template swiperSlide class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">Web</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                            <i class="icon icon-angular-cli"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/angular-cli.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Angular CLI</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                            <i class="icon icon-html5"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/html5.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">HTML 5</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                            <i class="icon icon-java"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/java.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Java</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-microsoft-dot-net"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/microsoft-dot-net.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">.NET</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-nodejs"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/node-js.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Node JS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-php"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/php.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">PHP</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-python"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/python.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Python</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-rails"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/rails.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Rails</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-react"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/react-js.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">React JS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-typescript"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/typescript.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">TypeScript</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-vue"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/vue.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Vue JS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-wpf"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Web/wpf.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">WPF</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide let-data class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">Mobile</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-ios"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/ios.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">IOS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                            <i class="icon icon-android"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/android.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Android</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-react"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/react-native.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">React Native</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-flutter"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/flutter.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Flutter</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-ionic"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/ionic.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Ionic</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-swift"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/swift.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Swift</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-kotlin"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/kotlin.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Kotlin</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-objectivec"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/objectivec.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">ObjectiveC</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-titanium"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/titanium.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Titanium</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-xamarin"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Mobile/xamarin.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Xamarin</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide let-data class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">Database</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-dynamodb"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/dynamodb.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Dynamo DB</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-firebase"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/firebase.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Firebase</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-mango-db"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/mango-db.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Mongo DB</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-ms-sql"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/ms-sql.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">MsSQL</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-my-sql"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/my-sql.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">MySQL</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-oracle"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/oracle.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Oracle</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-postgresql"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/postgresql.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">PostgreSQL</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-realm"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/realm.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Realm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-redis"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Database/redis.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Redis</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide let-data class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">Microcontrollers</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-assembly"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Microcontrollers/assembly.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Assembly</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-c"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Microcontrollers/c++.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">C++</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide let-data class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">Blockchain</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-Solidity"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/Blockchain/Solidity.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Solidity</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-java"></i>
<!--                                            <img-->
<!--                                              src="./assets/img/techSlider/Web/java.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Java</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-python"></i>
<!--                                            <img-->
<!--                                              src="./assets/img/techSlider/Web/python.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Python</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-JavaScript"></i>
<!--                                            <img-->
<!--                                              src="./assets/img/techSlider/Blockchain/JavaScript.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">JavaScript</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide let-data class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">CMS</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-drupal"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/CMS/drupal.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Drupal</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-joomla"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/CMS/joomla.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Joomla</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-magento"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/CMS/magento.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Magento</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-shopify-plus"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/CMS/shopify-plus.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Shopify</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-wordpress"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/CMS/wordpress.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Wordpress</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide let-data class="tech-slider__slide swiper-slide">
                        <div class="tech-slider__mobTitle">DevOps</div>
                        <div class="tech-slider__items">
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-appium"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/DevOps/appium.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Appium</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-aws"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/DevOps/aws.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">AWS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-google-cloud"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/DevOps/google-cloud.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Google Cloud</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-gradle"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/DevOps/gradle.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Gradle</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-jenkins"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/DevOps/jenkins.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Jenkins</div>
                                    </div>
                                </a>
                            </div>
                            <div class="tech-slider__row">
                                <a href="#" class="tech-slider__item">
                                    <div class="tech-slider__body">
                                        <div class="tech-slider__logo">
                                          <i class="icon icon-selenium"></i>
<!--                                            <img-->
<!--                                                src="./assets/img/techSlider/DevOps/selenium.svg"-->
<!--                                                alt="Icon"-->
<!--                                            />-->
                                        </div>
                                        <div class="tech-slider__desc">Selenium</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>

