$brake-1: 3000px; //27 Inch
$brake-2: 1920px; //Wide Screen
$brake-2-1: 1500px; //Default
$brake-2-2: 1250px; //Default
$brake-3: 1024px; //iPad Pro
$brake-3-1: 892px;
$brake-4: 768px; //iPad
$brake-4-1: 534px; //iPad
$brake-5: 450px; //Mobile
$brake-end: 0; //start
