<div class="solution">
  <div class="container">
    <div class="solution__items">
      <div class="solution__column _anim-items _anim-no-hide">
        <a href="#" class="solution__item">
          <span class="solution__logo solution__logo_1"></span>
          <span class="solution__desc">Mobile solution</span>
        </a>

      </div>
      <div class="solution__column _anim-items _anim-no-hide">
        <a href="#" class="solution__item">
          <span class="solution__logo solution__logo_2"></span>
          <span class="solution__desc">Desktop solution</span>
        </a>
      </div>
      <div class="solution__column _anim-items _anim-no-hide">
        <a href="#" class="solution__item">
          <span class="solution__logo solution__logo_3"></span>
          <span class="solution__desc">Cloud services</span>
        </a>
      </div>
      <div class="solution__column _anim-items _anim-no-hide">
        <a href="#" class="solution__item">
          <span class="solution__logo solution__logo_4"></span>
          <span class="solution__desc">Microcontrollers solutions</span>
        </a>
      </div>
    </div>
  </div>
</div>
