<div class='spinner' *ngIf='loader'>
  <mat-spinner></mat-spinner>
</div>


<div class="wrapper" *ngIf='!loader'>
    <a class="back_to_top" title="to top" [ngClass]="{'back_to_top-show': displayTopBtn}" (click)="backToTop()"><img src="./assets/img/icons/toTop.svg" alt="" /></a>
    <app-header></app-header>
    <!--    <router-outlet></router-outlet>-->
    <section class="content">
      <app-top-slider></app-top-slider>
      <app-slogan></app-slogan>
      <app-category></app-category>
      <app-solution></app-solution>
      <app-process></app-process>
      <app-extra-solution></app-extra-solution>
      <app-tech></app-tech>
    </section>
  <section class="footer-up__menu">
    <app-footer-menu></app-footer-menu>
  </section>
  <app-down-footer></app-down-footer>
</div>
