<div class="slogan">
    <div class="container">
        <div class="slogan__wrapper">
            <h1 class="slogan__title _anim-items _anim-no-hide" [ngClass]="{'_active': start}">
                Full range of <span>IT & software</span> solutions
            </h1>
            <div class="slogan__text _anim-items _anim-no-hide" [ngClass]="{'_active': start}">
                We are building armies of universal modern electronic employees. They do not get
                tired, do not make mistakes, do not get sick and do not ask for a salary. Transfer
                the routine work to them and be successful
            </div>
        </div>
    </div>
</div>
