<div class="solution">
    <div class="container">
        <div class="solution-slider swiper-container _anim-items _anim-no-hide">
            <swiper
                [config]="config"
                style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                class="solution-slider__wrapper swiper-wrapper"
            >
                <ng-template swiperSlide class="solution-slider__slide swiper-slide">
                    <div class="solution-slider__info">
                        <div class="solution-slider__label">Conversion</div>
                        <h2 class="solution-slider__title">Web solutions</h2>
                        <h3 class="solution-slider__text">
                            Tell the world about your product. Modern design, the latest technology,
                            resistance to attacks from competitors
                        </h3>
                        <button class="solution-slider__btn">More details</button>
                    </div>
                    <div class="solution-slider__darkBG"></div>
                    <div class="solution-slider__image ibg">
                        <img src="./assets/img/solutionSlider/web_solutions.jpg" alt="" />
                    </div>
                </ng-template>
                <ng-template swiperSlide class="solution-slider__slide swiper-slide">
                    <div class="solution-slider__info">
                        <div class="solution-slider__label">Safety</div>
                        <h2 class="solution-slider__title">Microcontrollers solutions</h2>
                        <h3 class="solution-slider__text">
                            Maximum reliability and safety. Exclusive device, solution and software
                        </h3>
                        <button class="solution-slider__btn">More details</button>
                    </div>
                    <div class="solution-slider__darkBG"></div>
                    <div class="solution-slider__image ibg">
                        <img src="./assets/img/solutionSlider/Microcontrollers.jpg" alt="" />
                    </div>
                </ng-template>
                <ng-template swiperSlide class="solution-slider__slide swiper-slide">
                    <div class="solution-slider__info">
                        <div class="solution-slider__label">Save</div>
                        <h2 class="solution-slider__title">Blockchain solutions</h2>
                        <h3 class="solution-slider__text">
                            Distributed storage system with integrity control data
                        </h3>
                        <button class="solution-slider__btn">More details</button>
                    </div>
                    <div class="solution-slider__darkBG"></div>
                    <div class="solution-slider__image ibg">
                        <img src="./assets/img/solutionSlider/Blockchain.jpg" alt="" />
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>
