<div class="container">
    <div class="footer-up__items">
        <div class="footer-up__row">
            <div class="footer-up__column">
                <div class="footer-up__item">
                    <div class="footer-up__title">Company</div>
                    <ul class="footer-up__points">
                        <li><a href="#" class="footer-up__point">About Us</a></li>
                        <li><a href="#" class="footer-up__point">Team and Values</a></li>
                        <li><a href="#" class="footer-up__point">Technologies</a></li>
                        <li><a href="#" class="footer-up__point">Certifications</a></li>
                        <li><a href="#" class="footer-up__point">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-up__column">
                <div class="footer-up__item">
                    <div class="footer-up__title">Services</div>
                    <ul class="footer-up__points">
                        <li><a href="#" class="footer-up__point">Mobile Development</a></li>
                        <li><a href="#" class="footer-up__point">Web Development</a></li>
                        <li><a href="#" class="footer-up__point">Machine Learning</a></li>
                        <li><a href="#" class="footer-up__point">Data Science</a></li>
                        <li><a href="#" class="footer-up__point">Design</a></li>
                        <li><a href="#" class="footer-up__point">Penetration Test</a></li>
                        <li><a href="#" class="footer-up__point">Audio & Video</a></li>
                        <li><a href="#" class="footer-up__point">Microcontroller Dev</a></li>
                        <li><a href="#" class="footer-up__point">Gambling Development</a></li>
                        <li><a href="#" class="footer-up__point">Computer Vision</a></li>
                        <li><a href="#" class="footer-up__point">ArcGis</a></li>
                        <li><a href="#" class="footer-up__point">FinTech</a></li>
                        <li><a href="#" class="footer-up__point">Big Data</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-up__column">
                <div class="footer-up__item">
                    <div class="footer-up__title">Expertise</div>
                    <ul class="footer-up__points">
                        <li><a href="#" class="footer-up__point">Elearning</a></li>
                        <li><a href="#" class="footer-up__point">Ecommerce</a></li>
                        <li><a href="#" class="footer-up__point">Enterprise Mobile Apps</a></li>
                        <li><a href="#" class="footer-up__point">Web and Enterprise Portals</a></li>
                        <li>
                            <a href="#" class="footer-up__point"
                                >Big Data and Business Intelligence</a
                            >
                        </li>
                        <li><a href="#" class="footer-up__point">Cybersecurity</a></li>
                        <li><a href="#" class="footer-up__point">Mapping</a></li>
                        <li><a href="#" class="footer-up__point">Gambling</a></li>
                    </ul>
                    <div class="footer-up__social">
                        <a href="#" class="footer-up__social-linkedin"></a>
                        <a href="#" class="footer-up__social-instagram"></a>
                        <a href="#" class="footer-up__social-youtube"></a>
                        <a href="#" class="footer-up__social-twitter"></a>
                        <a href="#" class="footer-up__social-medium"></a>
                        <a href="#" class="footer-up__social-facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
