<div class="process">
  <div class="container">
    <div class="process__row">
      <div class="process__column process__column_1 _anim-items _anim-no-hide">
        <a href="#" class="process__item">
          <div class="process__image ibg">
            <div class="process__dark">
              <img src='../../../assets/img/process/Consulting.png' alt="Image">
            </div>
            <div class="process__body">
              <div class="process__logo process__logo_1">
                <img src="./assets/img/icons/gears/Gears8.svg" alt="">
              </div>
              <h2 class="process__title">Consulting</h2>
              <h3 class="process__text">Optimization of business processes, legal norms and taxes</h3>
              <div class="process__more">More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="process__column process__column_2 _anim-items _anim-no-hide">
        <a href="#" class="process__item">
          <div class="process__image ibg">
            <div class="process__dark">
              <img src="./assets/img/process/Development.png" alt="Image">
            </div>
            <div class="process__body">
              <div class="process__logo process__logo_2">
<!--                <img src="./assets/img/icons/gears/Gears10.svg" alt="">-->
                <img src="./assets/img/icons/gears/Gears8.svg" alt="">
                <img src="./assets/img/icons/gears/Gears6.svg" alt="">
              </div>
              <h2 class="process__title">Development</h2>
              <h3 class="process__text">Optimal development and testing technologies</h3>
              <div class="process__more">More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="process__column process__column_3 _anim-items _anim-no-hide">
        <a href="#" class="process__item">
          <div class="process__image ibg">
            <div class="process__dark">
              <img src="./assets/img/process/TechnicalService.png" alt="Image">
            </div>
            <div class="process__body">
              <div class="process__logo process__logo_3">
                <img src="./assets/img/icons/gears/Gears10.svg" alt="">
                <img src="./assets/img/icons/gears/Gears8.svg" alt="">
                <img src="./assets/img/icons/gears/Gears6.svg" alt="">
              </div>
              <h2 class="process__title">Technical support</h2>
              <h3 class="process__text">Maintenance and technical support of your service</h3>
              <div class="process__more">More</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
